*.pyc
*.DS_Store
AUTHORS
build/*
build-stamp
doc/build
quantum.egg-info/
run_tests.err.log
run_tests.log
.quantum-venv/
.venv/
quantum/vcsversion.py
requirements.txt
ChangeLog
.tox/
debian/python-quantum
debian/quantum-common
debian/quantum-plugin-nicira
debian/quantum-server
debian/quantum-dhcp-agent
debian/tmp
debian/*debhelper
debian/*.log
debian/*substvars
